
### START-Keychain ###
{{ if eq .chezmoi.hostname .work_machine }}
# Let  re-use ssh-agent and/or gpg-agent between logins
if [[ $- == *i* ]]; then
	/usr/bin/keychain $HOME/.ssh/ids/lifemd_id_ed25519 --quiet --agents ssh
	source $HOME/.keychain/$HOSTNAME-sh
fi
### End-Keychain ###
{{ else }}
# Let  re-use ssh-agent and/or gpg-agent between logins
if [[ $- == *i* ]]; then
	/usr/bin/keychain $HOME/.ssh/id_ed25519 --quiet --agents ssh
	source $HOME/.keychain/$HOSTNAME-sh

	ssh-add -K ~/.ssh/id_ed25519
fi
{{ end }}
