[Unit]
Description=Chezmoi Change Monitor Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart={{ .chezmoi.homeDir }}/scripts/chezmoi-daemon.sh daemon
Restart=on-failure
RestartSec=60
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=default.target