[Unit]
Description=Daily Chezmoi Change Check
Requires=chezmoi-daemon-check.service

[Timer]
# Run daily at 10 AM
OnCalendar=*-*-* 10:00:00
# If missed, run on next login
OnStartup=300
Persistent=true

[Install]
WantedBy=timers.target