[Unit]
Description=Chezmoi Change Check (Triggered by Timer)
After=graphical-session.target

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/scripts/chezmoi-daemon.sh check
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=default.target