/* Centralized Material You colors for all applications */

@define-color background #12131a;
@define-color error #ffb4ab;
@define-color error_container #93000a;
@define-color inverse_on_surface #2f3038;
@define-color inverse_primary #3a6931;
@define-color inverse_surface #e3e1ec;
@define-color on_background #e3e1ec;
@define-color on_error #690005;
@define-color on_error_container #ffdad6;
@define-color on_primary #083906;
@define-color on_primary_container #baf1aa;
@define-color on_primary_fixed #002201;
@define-color on_primary_fixed_variant #22511c;
@define-color on_secondary #482536;
@define-color on_secondary_container #ffd8e6;
@define-color on_secondary_fixed #301120;
@define-color on_secondary_fixed_variant #623b4c;
@define-color on_surface #e3e1ec;
@define-color on_surface_variant #c5c5d6;
@define-color on_tertiary #242d5a;
@define-color on_tertiary_container #dee1ff;
@define-color on_tertiary_fixed #0e1744;
@define-color on_tertiary_fixed_variant #3b4472;
@define-color outline #8f909f;
@define-color outline_variant #444654;
@define-color primary #9fd491;
@define-color primary_container #22511c;
@define-color primary_fixed #baf1aa;
@define-color primary_fixed_dim #9fd491;
@define-color scrim #000000;
@define-color secondary #edb8cd;
@define-color secondary_container #623b4c;
@define-color secondary_fixed #ffd8e6;
@define-color secondary_fixed_dim #edb8cd;
@define-color shadow #000000;
@define-color surface #12131a;
@define-color surface_bright #383941;
@define-color surface_container #1e1f27;
@define-color surface_container_high #292931;
@define-color surface_container_highest #33343c;
@define-color surface_container_low #1a1b23;
@define-color surface_container_lowest #0d0e15;
@define-color surface_dim #12131a;
@define-color surface_tint #9fd491;
@define-color surface_variant #444654;
@define-color tertiary #bbc3fa;
@define-color tertiary_container #3b4472;
@define-color tertiary_fixed #dee1ff;
@define-color tertiary_fixed_dim #bbc3fa;
@define-color foreground @on_surface;
@define-color accent @primary;
@define-color color7 @on_surface;
@define-color color9 @secondary;
