[user]
    name = {{ .identity.name }}
    email = {{ .identity.email }}

[credential]
    credentialStore = secretservice

[credential "https://dev.azure.com"]
    useHttpPath = true

[push]
    autoSetupRemote = true
[init]
        defaultBranch = main

[alias]
	commit-gen = !git-commit-gen
	cg = "!f() { MSG=$(git-commit-gen) && git commit -F - <<< \"$MSG\"; }; f"
[url "git@github.com:"]
	insteadof = https://github.com/
