[user]
    name = Mason Rhodes
{{- if contains "work" .chezmoi.hostname }}
    email = work@example.com
{{- else }}
    email = user@example.com
{{- end }}

[credential]
    credentialStore = secretservice

[credential "https://dev.azure.com"]
    useHttpPath = true

[push]
    autoSetupRemote = true

[url "git@github.com:"]
    insteadOf = https://github.com/
