@import url('../matugen/colors.css');

window {
    margin: 0px;
    border: 1px solid var(--md-primary);
    background-color: var(--md-surface);
}

#input {
    margin: 5px;
    border: none;
    color: var(--md-on-surface);
    background-color: var(--md-surface-container-high);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: var(--md-surface);
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: var(--md-surface);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: var(--md-on-surface);
} 

#entry.activatable #text {
    color: var(--md-on-primary);
}

#entry > * {
    color: var(--md-on-surface);
}

#entry:selected {
    background-color: var(--md-primary-container);
}

#entry:selected #text {
    font-weight: bold;
    color: var(--md-on-primary-container);
}