source = /home/{{ .username }}/.config/hypr/configs/env.conf

$mainMod=SUPER

source = /home/{{ .username }}/.config/hypr/configs/style.conf
source = /home/{{ .username }}/.config/hypr/configs/binds.conf

source = /home/{{ .username }}/.config/hypr/configs/monitors.conf
# source = ~/.config/hypr/monitors.conf

source = /home/{{ .username }}/.config/hypr/configs/rules.conf
source = /home/{{ .username }}/.config/hypr/configs/hdr.conf

source = /home/{{ .username }}/.config/hypr/configs/exec.conf
