general {
  after_sleep_cmd=hyprctl dispatch dpms on
  lock_cmd=lock_cmd
}

listener {
  timeout = 175   # 5sec before lock
  on-timeout = {{ .chezmoi.homeDir }}/.config/hypr/toggle-dim.sh
  on-resume = {{ .chezmoi.homeDir }}/.config/hypr/toggle-dim.sh
}

listener {
  on-timeout=lock_cmd
  timeout=180
}

listener {
  on-resume=hyprctl dispatch dpms on
  on-timeout=hyprctl dispatch dpms off
  timeout=240
  # timeout=24
}

listener {
  on-timeout=systemctl suspend
  timeout=540
  # timeout=54
}
