#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Mason Rhodes"
{{- if .is_work }}
email = "work@example.com"
{{- else }}
email = "user@example.com"
{{- end }}

[ui]
editor = "zed --wait"
diff-editor = "nvim -d"
merge-editor = "nvim -d"
pager = "less -FRX"
