#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "{{ .identity.name }}"
{{- if .is_work }}
email = "{{ .identity.email_work }}"
{{- else }}
email = "{{ .identity.email_personal }}"
{{- end }}

[ui]
editor = "zed --wait"
diff-editor = "nvim -d"
merge-editor = "nvim -d"
pager = "less -FRX"
