bind=$mainMod, Q, exec, wezterm
bind=$mainMod, C, killactive, 
bind=$mainMod, E, exec, nautilus
bind=$mainMod, V, togglefloating, 
bind=$mainMod, R, exec, bash -c 'app=$(wofi --show drun --term wezterm --allow-images -W 800 -D key_expand=Tab -i 2>/dev/null) && [ -n "$app" ] && uwsm app -- "$app"' >/dev/null 2>&1
bind=$mainMod, P, pseudo, # dwindle
bind=$mainMod, J, togglesplit, # dwindle
bind=$mainMod, F, fullscreen,
bind=$mainMod, left, movefocus, l
bind=$mainMod, right, movefocus, r
bind=$mainMod, up, movefocus, u
bind=$mainMod, down, movefocus, d
bind=$mainMod SHIFT, left, movewindow, l
bind=$mainMod SHIFT, right, movewindow, r
bind=$mainMod SHIFT, up, movewindow, u
bind=$mainMod SHIFT, down, movewindow, d
bind=$mainMod, 1, workspace, 1
bind=$mainMod, 2, workspace, 2
bind=$mainMod, 3, workspace, 3
bind=$mainMod, 4, workspace, 4
bind=$mainMod, 5, workspace, 5
bind=$mainMod, 6, workspace, 6
bind=$mainMod, 7, workspace, 7
bind=$mainMod, 8, workspace, 8
bind=$mainMod, 9, workspace, 9
bind=$mainMod, 0, workspace, 10
bind=$mainMod SHIFT, 1, movetoworkspace, 1
bind=$mainMod SHIFT, 2, movetoworkspace, 2
bind=$mainMod SHIFT, 3, movetoworkspace, 3
bind=$mainMod SHIFT, 4, movetoworkspace, 4
bind=$mainMod SHIFT, 5, movetoworkspace, 5
bind=$mainMod SHIFT, 6, movetoworkspace, 6
bind=$mainMod SHIFT, 7, movetoworkspace, 7
bind=$mainMod SHIFT, 8, movetoworkspace, 8
bind=$mainMod SHIFT, 9, movetoworkspace, 9
bind=$mainMod SHIFT, 0, movetoworkspace, 10
bind=$mainMod, S, togglespecialworkspace, magic
bind=$mainMod SHIFT, S, movetoworkspace, special:magic
bind=$mainMod SHIFT, -, movecurrentworkspacetomonitor, -1
bind=$mainMod SHIFT, =, movecurrentworkspacetomonitor, +1
bind=$mainMod SHIFT, EQUAL, movecurrentworkspacetomonitor, -1
bind=$mainMod SHIFT, MINUS, movecurrentworkspacetomonitor, +1
bind=$mainMod, mouse_down, workspace, e+1
bind=$mainMod, mouse_up, workspace, e-1
bind=, Print, exec, /home/{{ .chezmoi.username }}/scripts/snip
bind=SHIFT, Print, exec, /home/{{ .chezmoi.username }}/scripts/record
bind=$mainMod, L, exec, /home/{{ .chezmoi.username }}/scripts/lock_cmd
bind=$mainMod, M, exec, ~/.config/wofi/power-menu.sh
bind=$mainMod, T, exec, /home/{{ .chezmoi.username }}/scripts/hyprland-theme-toggle/theme-toggle-modular.sh
bind=$mainMod, XF86AudioPlay, exec, ~/.config/wofi/change-default-audio-device.js WofiListAudioDevices
bindl=, XF86AudioPlay, exec, ~/.config/swaync/scripts/media-osd.sh play-pause
bindl=, XF86AudioStop, exec, ~/.config/swaync/scripts/media-osd.sh stop
bindl=, XF86AudioMute, exec, ~/.config/swaync/scripts/volume-osd.sh mute
bindl=, XF86AudioNext, exec, ~/.config/swaync/scripts/media-osd.sh next
bindl=, XF86AudioPrev, exec, ~/.config/swaync/scripts/media-osd.sh previous
bindle=, XF86AudioRaiseVolume, exec, ~/.config/swaync/scripts/volume-osd.sh up
bindle=, XF86AudioLowerVolume, exec, ~/.config/swaync/scripts/volume-osd.sh down
bindle=, XF86MonBrightnessUp, exec, ~/.config/swaync/scripts/brightness-osd.sh up
bindle=, XF86MonBrightnessDown, exec, ~/.config/swaync/scripts/brightness-osd.sh down

# bind=SHIFT,TAB,exec, steam steam://open/friends

bindm=$mainMod, mouse:272, movewindow
bindm=$mainMod, mouse:273, resizewindow

# to switch between windows in a floating workspace
bind = ALT, Tab, cyclenext,           # change focus to another window
bind = ALT, Tab, bringactivetotop,    # bring it to the top

bind=SHIFT, XF86AudioPlay, exec, PULSE_LATENCY_MSEC=60 pavucontrol 
