[Desktop Entry]
Name=drawio
Exec=/opt/drawio/drawio --password-store=gnome-libsecret %U
Terminal=false
Type=Application
Icon=drawio
StartupWMClass=draw.io
Comment=draw.io desktop
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;text/vnd.mermaid;
Categories=Graphics;
