window {
    margin: 0px;
    border: 1px solid {{colors.primary.hex}};
    background-color: {{colors.surface.hex}};
    }
    
    #input {
    margin: 5px;
    border: none;
    color: {{colors.on_surface.hex}};
    background-color: {{colors.surface_variant.hex}};
    }
    
    #inner-box {
    margin: 5px;
    border: none;
    background-color: {{colors.surface.hex}};
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: {{colors.surface.hex}};
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: {{colors.on_surface.hex}};
    } 
    
    #entry.activatable #text {
    color: {{colors.on_primary.hex}};
    }
    
    #entry > * {
    color: {{colors.on_surface.hex}};
    }
    
    #entry:selected {
    background-color: {{colors.primary_container.hex}};
    }
    
    #entry:selected #text {
    font-weight: bold;
    color: {{colors.on_primary_container.hex}};
    }